body, html {
  height: 100%;
  margin: 0;
}
.container-90 {
  width: 90%;
  margin: auto;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.row {
  height: 100%;
}
.col-md-3 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

.medium-card {
  width: 400px;
  height: 400px;
}

mat-form-field {
  margin-top: 20px;
  width: 90%;
}

.example-container {
  width: 300px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.primeira-coluna {
  background-color: rgb(39, 65, 88);
  border-radius: 10px 0px 0px 10px;
}

.segunda-coluna {
  background-color: rgb(39, 65, 88);
  border-radius: 0px 0px 0px 0px;
}

.terceira-coluna {
  background-color: rgb(39, 65, 88);
  border-radius: 0px 0px 0px 0px;
}

.quarta-coluna {
  background-color: rgb(39, 65, 88);
  border-radius: 0px 10px 10px 0px;
}

button {
  padding: 20px;
}

.table {
  width: 100%;
  max-width: 100%;
  overflow-x: auto; /* Permite rolagem horizontal */
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.full-width {
  width: 100%;
}

th {
  background-color: cadetblue !important;
}

.id {
  display: none;
}

.tarefa {
  background-color: gray !important;
}

.emAndamento {
  background-color: darksalmon !important;
}

::ng-deep .mat-mdc-form-field-hint-wrapper {
  display: none !important;
}

::ng-deep .mdc-line-ripple {
  display: none !important;
}







