<mat-toolbar class="mat-elevation-z2" color="primary">
  <mat-toolbar-row>
    <span>Bendita Ajuda ToDo</span>
    <span class="spacer"></span>
    <button mat-raised-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/home']">Home</button>
      <button mat-menu-item [routerLink]="['/dashboard']">Dashboard</button>
      <button mat-menu-item [routerLink]="['/todo']">Todo</button>
      <button mat-menu-item [routerLink]="['/login']">Sair</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
