<mat-toolbar color="primary">
  <span class="navbar-title">Bendita Ajuda Todo</span>
  <span class="navbar-title-mobile">Todo</span>
  <span class="spacer"></span>
  <span class="user">Olá {{ email }}</span>

  <mat-menu #menu1="matMenu">
    <button mat-menu-item routerLink="todo">Todo</button>
    <button mat-menu-item routerLink="listar-usuarios">Usuários</button>
    <button mat-menu-item routerLink="tarefas">Tarefas</button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu1">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu2="matMenu">
    <button mat-menu-item (click)="trocarSenha()">Trocar Senha</button>
    <button mat-menu-item (click)="sair()">Sair</button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu2">
    <mat-icon>account_circle</mat-icon>
  </button>

</mat-toolbar>
