<div class="container-fluid">
  <div class="row">
      <div class="col-12 content d-flex justify-content-center align-items-center" style="background-color: #3F51B5;">
          <mat-card class="d-flex justify-content-center align-items-center">
            <h4>Todo</h4>
            <div style="width: 100px; height: 150px;">
              <img src="../../assets/img/todo.svg" alt="Girl in a jacket">
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <mat-form-field appearance="fill">
                <mat-label>Usuário</mat-label>
                <input matInput formControlName="usuario" required>
                <mat-error *ngIf="checkError('usuario', 'required')">Obrigatório</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label>
                <input matInput [type]="hide ? 'senha' : 'text'" formControlName="senha" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="checkError('senha', 'required')">Obrigatório</mat-error>
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
               Login
              </button>
              <div class="d-flex justify-content-center align-items-center">
                <mat-spinner *ngIf="isLoggin" color="accent" diameter="50"></mat-spinner>
              </div>
            </form>
          </mat-card>
      </div>
  </div>
