<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-3" style="background-color: black;">
        <div>
          <mat-card>
            <form action="">
              <mat-form-field appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matPrefix class="my-icon">sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </form>
          </mat-card>
        </div>
    </div>
    <div class="col-md-9">

    </div>
  </div>
</div> -->
<!-- <div class="container-fluid">
  <div class="column" id="col1">
    <div>
      <mat-card>
        <form action="">
          <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matPrefix class="my-icon">sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </form>
      </mat-card>
    </div>
  </div>
  <div class="column" id="col2">Column 2</div>
  <div class="column" id="col3">Column 3</div>
  <div class="column" id="col4">Column 4</div>
</div> -->
<div class="container-90 h-100">
  <div class="row h-100">
      <div class="col-md-3 col-12 text-white d-flex justify-content-center align-items-start" style="background-color: #2d2d2d;">
        <mat-card class="medium-card">
          <form action="">
            <mat-form-field appearance="outline">
              <mat-label>Nome da tarefa</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
            <button mat-raised-button color="primary">Adicionar</button>
          </form>
        </mat-card>
      </div>
      <div class="col-md-3 col-12 bg-primary text-white d-flex justify-content-center align-items-start">Column 2</div>
      <div class="col-md-3 col-12 bg-success text-white d-flex justify-content-center align-items-start">Column 3</div>
      <div class="col-md-3 col-12 bg-warning text-white d-flex justify-content-center align-items-start">Column 4</div>
  </div>
</div>


